*{
    margin: 0;
}
:root{
    --white: #f7f7f7;
}

body{
    background-color:var(--white);
}

img{
    width: 20%;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    align-items: center;
    padding: 25px 0;
}

.intro{
    display: flex;
    background-color: var(--white);
    margin: 10px;
    padding: 43px;
}
#equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: var(--white);
    text-align: center;
}
.img-equipe{
    width: 40;
}

footer{
    background-color: blue;
    color: aliceblue;
}


a{
    color: black;
    text-decoration: none;
}

    .pontos-positivos{
        margin: -31px 60px 20px 30px;
}

.espacamento-paragrafo{
    padding: 0px 0px 5px 24px;
}

.recomendação-de-rotina{
    margin: 0px 0px 20px 30px;
}

.espacamento-recomendaçoes{
    padding: 0px 0px 5px 24px;
}

.conclusão{
    margin: 0px 0px 20px 53px;
}

.espacamento-conclusao{
    padding: 0px 0px 5px 1px;
}